<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> <%= title %> </title>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
    <script src="https://code.jquery.com/jquery-1.8.2.min.js"> </script>
    <script src="https://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
    <script src="/javascripts/script.js"></script>
</head>

<body>
    <!-- home -->
    <div data-role="page" id="Home">
        <div data-role="header" data-theme='b'>
            
            <h1> <%= title %> </h1>
            <a href="#Home" data-icon="home">Home</a>
            <a href="#Reports" data-icon="info">List exercises</a>
            <a href="#Add" data-icon="plus">Add</a>
            <a href="#Delete" data-icon="minus">Delete</a>
            <a href="#Edit" data-icon="star">Edit</a>
            
        </div>

        <div data-role="content" data-theme='c'>
            <h2>Today's workout</h2>
            <div>
                <ul id="listUl"></ul>
            </div>
            <a id="scheduleWorkout" href="#Schedule"><button>Schedule workouts</button></a>
        </div>
        <div data-role="footer" data-theme='a'>
            <h1>Copyright Francois Mukaba 2020</h1>
        </div>
    </div>

    <!-- Add -->
    <div data-role="page" id="Add">
        <div data-role="header" data-theme='b'>
            <h1>Add</h1>
            <a href="#Home" data-icon="home">Home</a>
            <a href="#Reports" data-icon="info">List exercises</a>
            <a href="#Add" data-icon="plus">Add</a>
            <a href="#Delete" data-icon="minus">Delete</a>
            <a href="#Edit" data-icon="star">Edit</a>  
        </div>

        <div data-role="content" data-theme='d'>
            <h3>Make a workout plan here</h3>
            Title: <input type="text" id="workoutTitle" value="">
            Details: <input type="text" id="workoutDetails" value="">
            Add Exercises from list below:
            <ul id="exerciseList"></ul>
            <button id="addWorkout">Create Workout</button>

            <h3>Add a new exercise here</h3>
            Title: <input type="text" id="title">
            Sets: <input type="text" id="sets">
            Reps: <input type="text" id="reps">
            Time: <input type="text" id="time">
            Detail: <input type="text" id="detail">
            <button id="addExercise">Save exercise</button>
        </div>

        <div data-role="footer" data-theme='a'>
            <h1>Copyright Francois Mukaba 2020</h1>
        </div>
    </div>

    <!-- Delete -->
    <div data-role="page" id="Delete">

        <div data-role="header" data-theme='b'>
            <h1>Delete</h1>
            <a href="#Home" data-icon="home">Home</a>
            <a href="#Reports" data-icon="info">List exercises</a>
            <a href="#Add" data-icon="plus">Add</a>
            <a href="#Delete" data-icon="minus">Delete</a>
            <a href="#Edit" data-icon="star">Edit</a>      
        </div>

        <div data-role="content" data-theme='d'>
            <h2>Delete a workout</h2>
            <div>
                <ul id="deleteListUl"></ul>
            </div>
            Or type the title: <input type="text" id="deleteOneWorkout">
            <button id="deleteBtn">Delete workout</button>
        </div>

        <div data-role="footer" data-theme='a'>
            <h1>Copyright Francois Mukaba 2020</h1>
        </div>

    </div>

    <!-- Edit -->
    <div data-role="page" id="Edit">

        <div data-role="header" data-theme='b'>
            <h1>Edit</h1>
            <a href="#Home" data-icon="home">Home</a>
            <a href="#Reports" data-icon="info">List exercises</a>
            <a href="#Add" data-icon="plus">Add</a>
            <a href="#Delete" data-icon="minus">Delete</a>
            <a href="#Edit" data-icon="star">Edit</a>  
        </div>

        <div data-role="content" data-theme='d'>
            <h2>Edit a workout by title</h2>
            <div>
                <ul id="editListUl"></ul>
            </div>
            Enter the title: <input type="text" id="editWorkoutTitle">
            <button id="editWorkoutBtn">Edit workout</button>
        </div>

        <div data-role="footer" data-theme='a'>
            <h1>Copyright Francois Mukaba 2020</h1>
        </div>
    </div>

    <!-- Reports (For now i'll list exercises) --> 
    <div data-role="page" id="Reports">

        <div data-role="header" data-theme='b'>
            <h1>My Exercises</h1>
            <a href="#Home" data-icon="home">Home</a>
            <a href="#Reports" data-icon="info">List exercises</a>
            <a href="#Add" data-icon="plus">Add</a>
            <a href="#Delete" data-icon="minus">Delete</a>
            <a href="#Edit" data-icon="star">Edit</a>  
        </div>

        <div data-role="content" data-theme='d'>
            <h2>Available Exercises</h2>
            <div>
                <ul id="allExercisesListUl"></ul>
            </div>
            <!-- <button id="save">Save report</button> -->
        </div>

        <div data-role="footer" data-theme='a'>
            <h1>Copyright Francois Mukaba 2020</h1>
        </div>
    </div>


    <!--Schedule-->
    <div data-role="page" id="Schedule">

        <div data-role="header" data-theme='b'>
            <a href="#Home" data-icon="back">Back</a>
            <h1>Schedule</h1>  
        </div>

        <div data-role="content" data-theme='d'>
            <h2>Select a workout to schedule</h2>
            <div>
                <ul id="scheduleListUl"></ul>
            </div>

            <h2>Select the days</h2>
            <input type="checkbox" class="daysOfWeek" id="1monday" name="monday">
            <label for="1monday"> Monday</label><br>
            <input type="checkbox" class="daysOfWeek" id="2tuesday" name="tuesday">
            <label for="2tuesday"> Tuesday</label><br>
            <input type="checkbox" class="daysOfWeek" id="3wednesday" name="wednesday">
            <label for="3wednesday"> Wednesday</label><br>
            <input type="checkbox" class="daysOfWeek" id="4thursday" name="thursday">
            <label for="4thursday"> Thursday</label><br>
            <input type="checkbox" class="daysOfWeek" id="5friday" name="friday">
            <label for="5friday">Friday</label><br>
            <input type="checkbox" class="daysOfWeek" id="6saturday" name="saturday">
            <label for="6saturday"> Saturday</label><br>
            <input type="checkbox" class="daysOfWeek" id="0sunday" name="sunday">
            <label for="0sunday">Sunday</label><br>
           
            <button id="scheduleBtn">Schedule now</button>
        </div>

        <div data-role="footer" data-theme='a'>
            <h1>Copyright Francois Mukaba 2020</h1>
        </div>
    </div>
</body>
</html>